#main-bundle {
    max-width: 1400px;
    margin: 20px auto;
}
#main-bundle header .heading,
#main-bundle header .sub-heading {
    text-align: center;
    display: block;
}
#main-bundle header .heading {
    font-size: 28px;
}
#main-bundle .bundile-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
#main-bundle .bundile-items-container .item {
    flex: 1 1 auto;   
}
#main-bundle .bundile-items-container .item img {
    object-fit: contain;
    object-position: top;
    width: 100%;
    height: 100%;
}
#main-bundle .bundile-items-container .item form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#main-bundle .bundile-items-container .item .title,
#main-bundle .bundile-items-container .item .price {
    text-align: center;
    margin: 0;
}
#main-bundle .bundile-items-container .item form button {
    position: relative;
    padding: 16px;
    border: 0;
    background-color: rgb(57, 181, 74);
    color: white;
    cursor: pointer;
    overflow: hidden;
    height: 50px;
}
#main-bundle .footer-container .footer-header .title {
    color: rgb(232, 35, 35);
    text-align: center;
    display: none;
    margin: 10px;
}
#main-bundle .footer-container .footer-header .title.active {
    display: block;
}
#main-bundle .bundile-items-container .item {
    max-width: 330px;
    border: 1px solid rgba(198, 198, 198, 0.55);
    padding: 5px;
}
#main-bundle .bundile-items-container .item form a.title {
    color: black;
    font-weight: 600;
}
#main-bundle .bundile-items-container .item .price .compare-at-price {
    color: #788188;
    font-weight: 600;
    text-decoration: line-through;
}
#main-bundle .bundile-items-container .item .price .regular-price {
    color: #788188;
    font-weight: 600;
}
#main-bundle .bundile-items-container .item select {
    display: none;
    border: 1px solid #E3E3E3;
    margin: 10px 0;
    padding: 10px;
}
#main-bundle .bundile-items-container .item select.active {
    display: block;
}
#main-bundle .footer-container .cart-bundle-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
#main-bundle .footer-container .cart-bundle-items .bundle-item {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    box-shadow: 1px 1px 5px 0px rgb(128, 128, 128);
    border: none;
    padding: 10px;
    text-decoration: none;
    position: relative;
}
#main-bundle .footer-container .cart-bundle-items .bundle-item .item-details {
    text-decoration: none;
    text-align: center;
    line-height: normal;
    overflow: hidden;
    font-size: 16px;
}
#main-bundle .footer-container .cart-bundle-items .bundle-item .item-details .item-quantity,
#main-bundle .footer-container .cart-bundle-items .bundle-item .item-details .times {
    font-weight: bold;
    color: #788188;
}
#main-bundle .footer-container .cart-bundle-items .bundle-item .item-details .title {
    font-weight: bold;
    border: none;
    padding: 0;
    color: #282828;
    margin: 0;
}
#main-bundle .footer-container .bundle-item {
    display: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
#main-bundle .footer-container .bundle-item.active {
    display: block;
}
#main-bundle .footer-container .cart-bundle-items .bundle-item button.close {
    width: 18px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    border: 0;
    display: block;
    margin-left: auto;
    cursor: pointer;
}
#main-bundle .footer-container .footer-call-to-action {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    max-width: 710px;
    width: 100%;
}
#main-bundle .footer-container .footer-call-to-action.active {
    display: flex;
}
#main-bundle .footer-container .footer-call-to-action button {
    position: relative;
    display: block;
    width: 100%;
    margin: 5px auto 0 auto;
    background: #39B54A;
    padding: 10px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    border: 0;
    animation: bdnlr-bounce 2s infinite;
}
#main-bundle .footer-container .footer-call-to-action .total-details .total {
    font-weight: bold;
}
#main-bundle .footer-container .footer-call-to-action .total-details .compare-at-price {
    text-decoration: line-through;
    color: #788188;
    font-weight: bold;
}
#main-bundle .footer-container .footer-call-to-action .total-details .discounted-price {
    color: #788188;
    font-weight: bold;
}
#main-bundle .footer-container .footer-call-to-action .discount-title {
    margin: 0 auto;
    font-size: 14px;
    opacity: 0.8;
}
@keyframes bdnlr-bounce {
    0%, 10%, 27%, 40%, 50% {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translateZ(0);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0);
    }
    20%, 21% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -20px, 0);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -20px, 0);
    }
    35% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -10px, 0);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -10px, 0);
    }
    45% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
.loading-circle {
    position: absolute;
    border: 4px solid #ffffff;
    border-top: 4px solid #286140;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
    display: none;
    line-height: normal;
    top: 24%;
    left: 48.5%;
    transform: translate(-50%, -50%);
}
button.active > .loading-circle {
    display: block;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.check-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes writeAnimation {
    to {
      stroke-dashoffset: 0;
    }
  }
  
.active .check-mark path {
    fill: none;
    stroke: white;
    stroke-width: 4;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: writeAnimation 2s ease-out forwards;
}
#main-bundle .bundile-items-container .item form button.active > .title {
    display: none;
}
#main-bundle .footer-container .cart-bundle-items .bundle-item:not(:last-of-type)::after {
    position: absolute;
    display: block;
    right: calc(-0.5em - 6px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    z-index: 1;
    content: "+";
    font-weight: bold;
    color: white;
    color: #ffffff;
    background: #4667a7;
    background: #39B54A;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 1.05em;
    font-size: 25px;
    font-family: arial;
}